body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.25;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 2250px;
    table-layout: fixed;
}

table tr {
    background-color: #e6f2f5;
    padding: .35em;
    border-bottom: 2px solid #fff;
}

table th,
table td {
    padding: 1em 10px 1em 1em;
    border-right: 2px solid #fff;
    text-align: center;
}

table th {
    font-size: 1.0em;
}

table thead tr {
    background-color: #167F92;
    color: #fff;
}

table tbody th {
    background: #78bbc7;
    color: #fff;
}

.general_h {
    background: #3261AB;
}

.thlog_h {
    background: #007FB1;
}

.glblog_h {
    background: #A4C520;
}

.vellog_h {
    background: #EDAD0B;
}

.illlog_h {
    background: #ff6a00;
}

.cmftlog_h {
    background: #cc528b;
}

.general {
    background: #D5E0F1;
}

.thlog {
    background: #CAE7F2;
}

.glblog {
    background: #D1F1CC;
}

.vellog {
    background: #FCF1D3;
}

.illlog {
    background: #ffe3cf;
}

.cmftlog {
    background: #f4c9dd;
}

@media screen and (max-width: 600px) {
    table {
        border: 0;
        width: 100%
    }

        table th {
            display: block;
            border-right: none;
        }

        table thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table tr {
            display: block;
            margin-bottom: .625em;
        }

        table td {
            border-bottom: 1px solid #bbb;
            display: block;
            font-size: .8em;
            text-align: right;
            position: relative;
            padding: .625em .625em .625em 4em;
            border-right: none;
        }

            table td::before {
                content: attr(data-label);
                font-weight: bold;
                position: absolute;
                left: 10px;
                color: #167F92;
            }

            table td:last-child {
                border-bottom: 0;
            }

        table tbody th {
            color: #fff;
        }
}

/*ここからMap*/

form {
    margin: auto;
    max-width: 1000px;
    margin-right: auto;
    margin: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}


group + group {
    margin-top: 20px;
}

.inline-radio {
    display: flex;
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #b6b6b6;
}

div {
    position: relative;
    flex: 1;
}

input {
    width: 100%;
    height: 60px;
    opacity: 0;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    color: #b6b6b6;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    border-right: 1px solid #b6b6b6;
}

div:last-child label {
    border-right: 0;
}

input:checked + label {
    background: #d81b60;
    font-weight: 500;
    color: #fff;
}